Utilities/AlmostSurely.Utilities.Console/Service References/AlmostSurelyServiceReference/AlmostSurelyService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53864/AlmostSurelyService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AlmostSurely.Processors" />
  <xs:element name="GetNewImages">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AlmostSurely.Processors" minOccurs="0" name="container" nillable="true" type="q1:ProcessContainerBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewImagesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>